.card{
    margin-bottom: 0.2rem;
    max-width: 240px;
    height: 320px;
}
.card__content{
    padding: 0.4rem 0;
}
.card__content p:nth-child(1){
    font-weight: 600;
    font-size: 18px;
}
.card img{
    height: 240px;
    border-radius: 1rem;
}
.card img:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: 0.2s ease;
}