.experience__mainContainer{
    background-color: #F5F5F5;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
}

.experience{
    
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
}
.experience__left, .experience__right{
     display:flex;
    align-items: center;
    justify-content: center;
}
.experience__left div, .experience__right div{
 padding: 1rem 4rem;
 text-align: center;
}

.experience__left div h1, .experience__right div h1{
    font-size:48px;
    font-weight: 800;
}
.experience__left div p, .experience__right div p{
    font-size:14px;
    font-weight: 600;
    color: gray;
    letter-spacing:1px;
    padding-top: 2px;
}