*{
    font-family: 'Inter', sans-serif;
}

.container{
    /* background-color: #353535; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 5rem; */
}
.container .contact{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
}
.contact .rights{
    font-size: 12px;
    margin-bottom: 1rem;
}
.container .contact .content{
    width: 100%;
display: flex;
align-items: center;
justify-content: space-around;
/* background-color: aqua; */

}
.content .left .socialLinks{
    display: flex;
    margin: 1rem 0;
}
.content .left .socialLinks img{
    height: 25px;
    margin: 0.5rem;
}
.content .left{
color: rgb(50, 50, 50);
}
.content .left > h2{
margin-bottom: 2rem;
}
.left .cont p{
display: flex;
align-items: center;
font-size: 20px;
margin: 0.5rem 0;
}

@media only screen and (max-width: 912px) {
    .container .contact{
        width: 100%;
        padding: 1rem;
    }
}

@media only screen and (max-width: 699px) {
    
        .container .contact .content{
            flex-direction: column-reverse;
        }
        .content .left{
            justify-content: center;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        
}