* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

.main {
  background-color: #055ea0;
  padding: 2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__heading h1 {
  text-decoration: underline;
  text-align: center;
  font-weight: 500;
  text-underline-offset: 5px;
}
.main__content {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  margin: 2rem;
  border-radius: 6px;
  padding: 1rem;
  width: 60%;
  box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.6);
}
.content__head h1{
  color: #055ea0;
  padding: 1rem;
}
.content__card{
  display: flex;
  flex-direction: column;
}

/* --------------card---------- */

.card {
  background-color: white;
  width: 600px;
  border-radius: 6px;
  padding: 0.6rem 1rem;
  margin: 0.5rem;
  border: 1px solid rgb(233, 233, 233);
  
}
.card:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0, 0.08);
  transition: ease-in-out 0.3s;
}
.card_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.card_head h3{
color: #44a9d7;
}
.card__text {
  color: #505050;
  padding: 0.6em 0;
}
.card__btn{
  border-radius: 50%;
  border: none;
  outline: none;
  color: #44a9d7;
  background-color: transparent;
  font-size: 30px;
  align-self: center;
  justify-self: center;
}
.card__btn:hover{
  filter: brightness(80%);
  cursor: pointer;
}
