.nav{
  background:  white;
  display: flex;
  justify-content: space-between;
  align-items: center;
 border-bottom: 1px solid #ddd;
  padding: 0.2rem 5rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
}
.nav > img{
  width: 80px;
}
.nav__menus{
  display: flex;
  align-items: center;
  color: gray;
  font-weight: 500;
  padding: 1rem;
}
.nav__menus p{
     padding: 0.2rem  0.8rem;
     margin: 0 0.4rem;
}
.nav__menus p:hover{
    color: #151515;
    cursor: pointer;
}
@media only screen and (max-width: 600px){
  .nav{
    padding: 0.2rem 1.5rem;
  }
}