*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.app{
  display: flex;
  justify-content: center;
  width: 100%;
  
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: whitesmoke;
  width: 800px;
  min-height: 140px;
  border-radius: 0.5rem;
  margin: 1rem;
  padding: 1rem 1.5rem;
  color: rgb(149, 149, 149);
  border: 1px solid #eee;
  position: relative;
}
.card__heading{
  color: #434343;
}
.card__company{
  color: #5e5e5e;
}
.card::before{
  content: '';
height: 140px;
width: 2px;
background-color: royalblue;
position: absolute;
left: -51px;
top: -80px;
}
.card:nth-child(1)::before{
  content: '';
  height: 0px;
width: 0px;
  /* background-color: red; */
}

.card::after{
content: '';
height: 10px;
width: 10px;
background-color: royalblue;
border-radius: 50%;
position: absolute;
left: -60px;
padding: 3px;
background-clip: content-box;
border: 2px solid royalblue;
}
