.updatePassword_container{
    min-height: 80vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.updatePassword_container input{
    width: 40%;
}