:root{
  --k-dark: #0e0e0f;
  --k-lightblue:#D1E2FF;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--k-dark);
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.app__container{
  margin: 80px 40px;
  padding: 10px 30px;
}
