.login_heading{
    margin: 1rem 0;
    text-align: center;
}
.login_heading p{
    font-size: var(--fs-caption);
}
.login_heading p a{
    color: var(--clr-primary-active);
}
.login_heading p a:hover{
    color: var(--clr-primary);
}
.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}
.login-form input{
    background-color: var(--clr-surface);
    color: var(--clr-on_surface);
}
.login-forgotPassword a{
    font-size: var(--fs-caption);
    color: var(--clr-primary-active);
    
}
.login-forgotPassword a:hover{
    color: var(--clr-primary);
}
.btn-loginGoogle{
    width: 80%;
    background-color: transparent;
    color: var(--clr-on_bg);
    border: 1px solid var(--clr-elevation2);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}
.btn-loginGoogle:hover{
    border: 1px solid var(--clr-elevation1);
}
.btn-loginGoogle img{
    width: 20px;
    margin: 0 0.5rem;
}
.login-separator{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}
.login-separator div{
    height: 1px;
    width: 100%;
    background-color: var(--clr-elevation1);
}
.login-separator p{
    margin: 0 0.5rem;
    padding: 0 0.5rem;
    font-size: var(--fs-body1);
    font-weight: 500;
    text-transform: uppercase;
}