.mainHomeContainer{
    min-height: 100vh;
}
.homeContainer{
    
}

.button{
    padding: 0.4rem 0.8rem;
    border-radius: 0.4rem;
    border: none;
    color: #fafafa;
    margin: 0.5rem;
}

.button1{
    background: var(--clr-primary-active);
}
.button2{
    background: var(--clr-primary);
}
.button3{
    background: var(--clr-primary-hover);
}
.button4{
    background: var(--clr-primary-disabled);
}
.button5{
    background: var(--clr-primary-shade);
}

.box{
    border-radius: 1rem;
    margin: 1rem;
    padding: 2rem
}

.box1{
    height: 600px;
    width: 1200px;
    background: var(--clr-dark-shade);
}
.box2{
    height: 500px;
    width: 1100px;
    background: var(--clr-dark-900);
}
.box3{
    height: 400px;
    width: 1000px;
    background: var(--clr-dark-800);
}
.box4{
    height: 300px;
    width: 900px;
    background: var(--clr-dark-700);
}
.box5{
    height: 200px;
    width: 800px;
    background: var(--clr-dark-600);
}

.boxl{
    border-radius: 1rem;
    margin: 1rem;
    padding: 2rem
}

.boxl1{
    height: 600px;
    width: 1200px;
    background: var(--clr-light-shade);
}
.boxl2{
    height: 500px;
    width: 1100px;
    background: var(--clr-light-900);
}
.boxl3{
    height: 400px;
    width: 1000px;
    background: var(--clr-light-800);
}
.boxl4{
    height: 300px;
    width: 900px;
    background: var(--clr-light-700);
}
.boxl5{
    height: 200px;
    width: 800px;
    background: var(--clr-light-600);
}

.boxp{
    border-radius: 1rem;
    margin: 1rem;
    padding: 2rem
}

.boxp1{
    height: 600px;
    width: 1200px;
    background: var(--clr-primary-shade);
}
.boxp2{
    height: 500px;
    width: 1100px;
    background: var(--clr-primary-active);
}
.boxp3{
    height: 400px;
    width: 1000px;
    background: var(--clr-primary);
}
.boxp4{
    height: 300px;
    width: 900px;
    background: var(--clr-primary-hover);
}
.boxp5{
    height: 200px;
    width: 800px;
    background: var(--clr-primary-disabled);
}

.boxs{
    border-radius: 1rem;
    margin: 1rem;
    padding: 2rem
}

.boxs1{
    height: 600px;
    width: 1200px;
    background: var(--clr-secondary-shade);
}
.boxs2{
    height: 500px;
    width: 1100px;
    background: var(--clr-secondary-active);
}
.boxs3{
    height: 400px;
    width: 1000px;
    background: var(--clr-secondary);
}
.boxs4{
    height: 300px;
    width: 900px;
    background: var(--clr-secondary-hover);
}
.boxs5{
    height: 200px;
    width: 800px;
    background: var(--clr-secondary-disabled);
}