.mainHomeContainer{
    /* min-height: 100vh; */
    background-color: var(--clr-bg);
    padding-top: 0.6rem;
    overflow: hidden;
}
.homeContainer{
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
