*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* transition: all 1s ease; */
  /* transition: all 1s ease; */
}

:root{
  --clr-dark-shade:#07090d;
  --clr-dark-900:#0e121b;
  --clr-dark-800:#151b28;
  --clr-dark-700:#1c2436;
  --clr-dark-600:#232e43;
  --clr-dark-500:#232e43;
  --clr-dark-400:#232e43;
  --clr-dark-300:#232e43;
  --clr-dark-200:#232e43;
  --clr-dark-100:#55658b;

  --clr-light-shade:#ffffff;
  --clr-light-900:#8191b1;
  --clr-light-800:#9aa7c1;
  --clr-light-600:#B3BDD0;
  --clr-light-700:#a6b2c9;
  --clr-light-500:#bec7da;
  --clr-light-400:#c9d2e3;
  --clr-light-300:#dde3ee;
  --clr-light-200:#ebeef5;
  --clr-light-100:#f8f9fc;

  --fs-subtitle1:16px;
  --fs-subtitle2:14px;
  --fs-body1:16px;
  --fs-body2:14px;
  --fs-caption:12px;
  --fs-overline:10px;
  --fs-xs:20px;
  --fs-sm:24px;
  --fs-md:34px;
  --fs-lg:48px;
  --fs-xl:60px;
  --fs-xxl:96px;

  --p1:0.125rem;
  --p2:0.25rem;
  --p3:0.375rem;
  --p4:0.5rem;
  --p5:0.625rem;
  --p6:0.75rem;
  --p7:0.875rem;
  --p8:1rem;
  --p9:1.25rem;
  --p10:1.5rem;
  --p11:1.75rem;
  --p12:2rem;
  --p13:2.25rem;
  --p14:2.5rem;
  --p15:2.75rem;
  --p16:3rem;

  --m1:0.125rem;
  --m2:0.25rem;
  --m3:0.375rem;
  --m4:0.5rem;
  --m5:0.625rem;
  --m6:0.75rem;
  --m7:0.875rem;
  --m8:1rem;
  --m9:1.25rem;
  --m10:1.5rem;
  --m11:1.75rem;
  --m12:2rem;
  --m13:2.25rem;
  --m14:2.5rem;
  --m15:2.75rem;
  --m16:3rem;

  --w1:100;
  --w2:200;
  --w3:300;
  --w4:400;
  --w5:500;
  --w6:600;
  --w7:700;
  --w8:800;
  --w9:900;
}

.light-theme{
  --clr-primary:#6060f1;
  --clr-primary-hover:#828df7;
  --clr-primary-active:#5047e1;
  --clr-primary-disabled:#cdd7fe;
  --clr-primary-shade:#4940c9;
  --clr-secondary:#F178B6;
  --clr-secondary-hover:#F38CC1;
  --clr-secondary-active:#EE62AA;
  --clr-secondary-disabled:#F8BCDB;
  --clr-secondary-shade:#EA3391;
  --clr-on_primary:var(--clr-light-100);
  --clr-on_secondary:var(--clr-light-100);

  --clr-gradient-lr:linear-gradient(to right, var(--clr-primary) , var(--clr-secondary));
  --clr-gradient-rl:linear-gradient(to left, var(--clr-secondary) , var(--clr-primary));

  --clr-bg:var(--clr-light-100);
  --clr-surface:var(--clr-light-200);
  --clr-elevation1:var(--clr-light-300);
  --clr-elevation2:var(--clr-light-400);
  --clr-on_bg:var(--clr-dark-900);
  --clr-on_surface:var(--clr-dark-800);
  --clr-on_elevation1:var(--clr-dark-700);
  --clr-on_elevation2:var(--clr-dark-600);
  --clr-on_hover:var(--clr-dark-100);
  
  --clr-success:#52c41a;
  --clr-error:#ff4d4f;
  --clr-info:#1890ff;
  --clr-warn:#faad14;
  --clr-on_success:var(--clr-light-100);
  --clr-on_error:var(--clr-light-100);
  --clr-on_info:var(--clr-light-100);
  --clr-on_warn:var(--clr-light-100);

}
.dark-theme{
  --clr-primary:#6060f1;
  --clr-primary-hover:#828df7;
  --clr-primary-active:#5047e1;
  --clr-primary-disabled:#cdd7fe;
  --clr-primary-shade:#4940c9;
  --clr-secondary:#F178B6;
  --clr-secondary-hover:#F38CC1;
  --clr-secondary-active:#EE62AA;
  --clr-secondary-disabled:#F8BCDB;
  --clr-secondary-shade:#EA3391;
  --clr-on_primary:var(--clr-dark-900);
  --clr-on_secondary:var(--clr-dark-900);

  --clr-gradient-lr:linear-gradient(to right, var(--clr-primary) , var(--clr-secondary));
  --clr-gradient-rl:linear-gradient(to left, var(--clr-secondary) , var(--clr-primary));

  --clr-bg:var(--clr-dark-900);
  --clr-surface:var(--clr-dark-800);
  --clr-elevation1:var(--clr-dark-700);
  --clr-elevation2:var(--clr-dark-600);
  --clr-on_bg:var(--clr-light-100);
  --clr-on_surface:var(--clr-light-200);
  --clr-on_elevation1:var(--clr-light-300);
  --clr-on_elevation2:var(--clr-light-400);
  --clr-on_hover:var(--clr-light-400);
  
  --clr-success:#52c41a;
  --clr-error:#ff4d4f;
  --clr-info:#1890ff;
  --clr-warn:#faad14;
  --clr-on_success:var(--clr-light-900);
  --clr-on_error:var(--clr-light-900);
  --clr-on_info:var(--clr-light-900);
  --clr-on_warn:var(--clr-light-900);

}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a{
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}
.center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.heading{
  font-size: var(--fs-md);
  color: var(--clr-dark-80);
  font-weight: 800;
  letter-spacing: 0.005rem;
}
.heading > span{
  background: var(--clr-gradient-rl);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* css grid system utility class */
.container{
  margin: auto 18px;
  /* background: lightblue; */
}
.container-fluid{
  margin: auto 0;
  /* background: bisque; */
}
.row{
  display: grid;
  grid-template-columns: repeat(12,1fr);
  gap: 10px;
}
.col-1{
  grid-column: span 1;
}
.col-2{
  grid-column: span 2;
}
.col-3{
  grid-column: span 3;
}
.col-4{
  grid-column: span 4;
}
.col-5{
  grid-column: span 5;
}
.col-6{
  grid-column: span 6;
}
.col-7{
  grid-column: span 7;
}
.col-8{
  grid-column: span 8;
}
.col-9{
  grid-column: span 9;
}
.col-10{
  grid-column: span 10;
}
.col-11{
  grid-column: span 11;
}
.col-12{
  grid-column: span 12;
}


/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  
  .col-sm-1{
    grid-column: span 1;
  }
  .col-sm-2{
    grid-column: span 2;
  }
  .col-sm-3{
    grid-column: span 3;
  }
  .col-sm-4{
    grid-column: span 4;
  }
  .col-sm-5{
    grid-column: span 5;
  }
  .col-sm-6{
    grid-column: span 6;
  }
  .col-sm-7{
    grid-column: span 7;
  }
  .col-sm-8{
    grid-column: span 8;
  }
  .col-sm-9{
    grid-column: span 9;
  }
  .col-sm-10{
    grid-column: span 10;
  }
  .col-sm-11{
    grid-column: span 11;
  }
  .col-sm-12{
    grid-column: span 12;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .container{
    margin: auto 24px;
  }
  .col-md-1{
    grid-column: span 1;
  }
  .col-md-2{
    grid-column: span 2;
  }
  .col-md-3{
    grid-column: span 3;
  }
  .col-md-4{
    grid-column: span 4;
  }
  .col-md-5{
    grid-column: span 5;
  }
  .col-md-6{
    grid-column: span 6;
  }
  .col-md-7{
    grid-column: span 7;
  }
  .col-md-8{
    grid-column: span 8;
  }
  .col-md-9{
    grid-column: span 9;
  }
  .col-md-10{
    grid-column: span 10;
  }
  .col-md-11{
    grid-column: span 11;
  }
  .col-md-12{
    grid-column: span 12;
  }
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .container{
    margin: auto 16px;
  }
  .col-lg-1{
    grid-column: span 1;
  }
  .col-lg-2{
    grid-column: span 2;
  }
  .col-lg-3{
    grid-column: span 3;
  }
  .col-lg-4{
    grid-column: span 4;
  }
  .col-lg-5{
    grid-column: span 5;
  }
  .col-lg-6{
    grid-column: span 6;
  }
  .col-lg-7{
    grid-column: span 7;
  }
  .col-lg-8{
    grid-column: span 8;
  }
  .col-lg-9{
    grid-column: span 9;
  }
  .col-lg-10{
    grid-column: span 10;
  }
  .col-lg-11{
    grid-column: span 11;
  }
  .col-lg-12{
    grid-column: span 12;
  }
 }

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container{
    margin: auto 30px;
  }
  .col-xl-1{
    grid-column: span 1;
  }
  .col-xl-2{
    grid-column: span 2;
  }
  .col-xl-3{
    grid-column: span 3;
  }
  .col-xl-4{
    grid-column: span 4;
  }
  .col-xl-5{
    grid-column: span 5;
  }
  .col-xl-6{
    grid-column: span 6;
  }
  .col-xl-7{
    grid-column: span 7;
  }
  .col-xl-8{
    grid-column: span 8;
  }
  .col-xl-9{
    grid-column: span 9;
  }
  .col-xl-10{
    grid-column: span 10;
  }
  .col-xl-11{
    grid-column: span 11;
  }
  .col-xl-12{
    grid-column: span 12;
  }
 }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
  .container{
    margin: auto 40px;
  }
  .col-xxl-1{
    grid-column: span 1;
  }
  .col-xxl-2{
    grid-column: span 2;
  }
  .col-xxl-3{
    grid-column: span 3;
  }
  .col-xxl-4{
    grid-column: span 4;
  }
  .col-xxl-5{
    grid-column: span 5;
  }
  .col-xxl-6{
    grid-column: span 6;
  }
  .col-xxl-7{
    grid-column: span 7;
  }
  .col-xxl-8{
    grid-column: span 8;
  }
  .col-xxl-9{
    grid-column: span 9;
  }
  .col-xxl-10{
    grid-column: span 10;
  }
  .col-xxl-11{
    grid-column: span 11;
  }
  .col-xxl-12{
    grid-column: span 12;
  }
 }