*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--spt-dark);
}
:root{
  --spt-green:#1db954;
  --spt-dark:#191414;
  --spt-white:#ffffff;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}