* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mainContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  padding-top: 6rem;
  /* height: 100vh; */
  padding-bottom: 6rem;
  /* background: rgb(9, 73, 121); */
  /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,73,121,1) 35%, rgba(0,185,255,1) 100%); */
  /* background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 73, 121, 1) 35%,
    rgba(0, 125, 255, 1) 100%
  ); */
}

.mainContainer > img {
  width: 150px;
  border-radius: 50%;
  /* border: 2px solid rgb(0,185,255); */
}
.summery {
  color: #252525;
  width: 50%;
  text-align: center;
}
.projectSection{
  background-color: #fafafa;
 border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projectSection > h2{
  font-size: 32px;
  margin-top: 30px;
}
.projectContent {
  /* margin: 1rem; */
  /* padding: 0.5rem; */
  flex: 0.7;
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
 
}
@media only screen and (max-width: 600px) {
  .summery {
    width: 95%;
    font-size: 12px;
  }
  .mainContainer {
    height: 100%;
  }
}
