* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  /* text-align: center; */
  background-color: #ef669e;
  min-height: 100vh;
  color: #fce9db;
}
.App > h1{
  text-align: center;
  padding: 2rem 0;
}

.container {
  min-height: 100px;
  background-color: #fce9db;
  border-radius: 4px;
  max-width: 400px;
  margin: auto;
  color: #7474bd;
  padding: 1rem;
  box-shadow:  0 5px 5px rgba(0, 0, 0, 0.2);
}

.container > button{
  background-color:#ef669e;
  border-radius: 2px;
  text-align: center;
  width: 100%;
  padding: 0.6rem;
  border: none;
  outline: none;
  margin: 0.5rem 0;
  color: #fce9db;
  font-size: 1.2rem;
}
.container > button:hover{
  background-color:#FEB7BB;
  cursor: pointer;
}
.people{
  display: flex;
  align-items: center;
}

.people > img{
  height: 70px;
  width: 70px;
  border-radius: 50%;
  padding: 0.4rem;
}

.people .details p:nth-child(1){
  font-size:20px;
  font-weight: 500;
}
.people .details{
  padding-left:10px
}

.ListContainer{
  padding: 1rem 0;
}