* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:roboto,sans-serif;
}
.auth{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color:whitesmoke;
}

.auth .auth__googleDrive{
  background-color:white;
  box-shadow: 0 0 5px 2px rgba(0,0,0,0.1);
  height: 50%;
  width: 30%;
  padding: 2rem 1rem;
  border-radius:0.4rem;
   display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.auth .auth__googleDrive button{
  margin: 1rem;
  margin-top: 2rem;
  padding: 0.6rem 1rem;
  border-radius: 0.2rem;
  background-color: #2185FC;
  color: white;
  text-align: center;
  border: none;
  outline: none;
}

.auth .auth__googleDrive button:hover{
  background-color:#0066DB;
  cursor: pointer;
}