.productCard{
    min-height: 350px;
    /* width: 260px; */
    background-color: var(--clr-surface);
    color: var(--clr-on_surface);
    margin: var(--m2);
    padding: var(--m3);
    border: 1px solid var(--clr-elevation1);
    border-radius: 0.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
.product-newItemTag{
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 var(--p2);
  background-color: var(--clr-error);
  color: var(--clr-on_error);
  font-size: var(--fs-caption);
}
.productCard:hover{
    background-color: var(--clr-elevation1);
    color: var(--clr-on_elevation1);
    box-shadow: 0px 2px 8px 2px rgba(var(--clr-shade),0.1);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.productCard .productImage{
    height: 200px;
    width: 100%;
    border-radius: 0.5rem;
    background-color: var(--clr-elevation2);
    /* border:1px solid var(--clr-elevation2); */
    overflow: hidden;
}
.productImage img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border-radius: 0.5rem; */
  }
  .productImage{
    position: relative;
  }
  .fevoriteIcon{
    padding: var(--p2);
    background: var(--clr-surface);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
    box-shadow: 0px 0px 10px 2px rgba(var(--clr-shade),0.1);
  }
  .fillHeart{
    color: red;
  }
  .productTitle{
    margin-top: var(--m2);
  }
  .productDescription{
    font-size: var(--fs-body2);
    color: var(--clr-on_elevation2);
  }
  .productInfo-section{
    margin-top: var(--m8);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .productPrice{
    font-size: var(--fs-xs);
    font-weight: var(--w6);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .productPrice div{
    display: flex;
  }
  .productPrice div > p{
    font-size: var(--fs-body2);
    text-decoration: line-through;
    color: var(--clr-on_elevation2);
    font-weight: var(--w4);
  }
  .productPrice div > span{
    font-size: var(--fs-body2);
    color: var(--clr-on_elevation2);
    font-weight: var(--w5);
    padding-left: var(--p2);
  }
  .productRatings{
    font-size: var(--fs-caption);
    color: var(--clr-on_elevation2);
    /* text-align: right; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .productRatings svg{
    color: var(--clr-warn);
    /* font-size: var(--fs-body2); */
  }