*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
}
.container{
min-height: 100vh;
width: 100%;
background-color: darkcyan;

}
.heading{
    padding: 2rem;
    color: white;
    text-align: center;
}
.colorShade{
    margin: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}
.colorBox{
    background-color: hsl(0, 100%, 50%);
    height: 150px;
    width: 150px;
    border-radius: 0.4rem;
}